<div class="ontologyChooser rforms">
	<div dojoType="dijit.Dialog" autofocus="false" dojoAttachPoint="dialog">
		<div dojoType="dijit.layout.BorderContainer" design="sidebar" dojoAttachPoint="bc" gutters="false">
			<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="cpLeft" region="left" splitter="true" style="width: 60%">
				<div dojoAttachPoint="treeNode"></div>
			</div>
			<div dojoType="dijit.layout.ContentPane" region="center" style="padding:10px">
				<h2 style="text-align: center;font-weight:bold">Information about selected item</h2>
				<div style="font-weight:bold;margin-left:5px;margin-top:5px;font-size:15px">Web-identifier:</div>
				<div dojoAttachPoint="uriNode" class="uriNode" style="margin-left:10px;font-size:15px"></div>
				<div style="font-weight:bold;margin-left:5px;margin-top:5px;font-size:15px">Item description:</div>
				<div dojoAttachPoint="labelNode" class="labelNode" style="margin-left:10px;font-size:15px"></div>
				<div dojoAttachPoint="descriptionNode" class="descriptionNode"></div>
			</div>
			<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="cpBottom" region="bottom">
				<div class="buttonRow">
					<div dojoType="dijit.form.Button" dojoAttachPoint="cancelButton" dojoAttachEvent="onClick: _cancelClicked" label="cancel"></div>
					<div dojoType="dijit.form.Button" dojoAttachPoint="doneButton" disabled="true" dojoAttachEvent="onClick: _doneClicked" label="done"></div>
				</div>
			</div>
		</div>
	</div>
</div>